<div class="card border-primary">
  
    <div class="card-body">
      <h4 class="card-title">Nuestra Misión</h4>
      <p class="card-text">Nuestra misión consta en mejorar la calidad de los productos agricolas mezclando las nuevas tecnologías.
          Para que de esta manera nuestros clientes puedan aumentar la productividad de sus cultivos y a la misma vez
          puedan obtener menos pérdidas y muchas más ventas.</p>
    </div>
  </div>
      <img class="card-img-top" src="./../../../assets/Invernadero.jpg" alt="Aquí va la imagen de inicio">
  
  
     