<div class="container">
  <div class="password-reset">
      <h2>Restablecer su Contraseña</h2>
      <p>Introduzca su dirección de correo electrónico y le enviaremos un correo electrónico con instrucciones para restablecer su contraseña.</p>
      <form  (ngSubmit)="resetPassword()">
          <input type="email" name="email" [(ngModel)]="email" placeholder="Correo electrónico" value="" required>
          <button type="submit">Enviar Correo Electrónico</button>
      </form>
      <a href="/Login">Volver al Inicio</a>
  </div>
</div>