
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #557d57;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  font-size: 19px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar ul li {
  display: inline-block;
  margin-right: 20px; 
}
.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
}

.logo a.navbar-brand {
  display: flex;
  align-items: center;
  color: #fff; 
  text-decoration: none; 
  padding-left: 10px;
}

.img01 {
  border-radius: 50px;
  width: 100px; 
  height: 100px;
  
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.menu li {
  padding: 10px; 
}
.menu li a {
  text-decoration: none;
  color: #ffffff; 
}
.menu li a:hover {
  border-bottom: 2px solid #ffffff; 
}
.navbar-toggler {
  display: none;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #557d57;
    border-radius: 5px; 
  }
  .navbar ul.show {
    display: flex;
  }

  .navbar-toggler {
    display: block;
  }
  
  .menu li {
    text-align: right;
    
  }
} 

