<div class="card border-primary">
    <img class="card-img-top" src="./../../../assets/Invernadero.jpg" alt="Equipo de trabajo">
    <div class="card-body">
      <h4 class="card-title">¿Quiénes Somos?</h4>
      <p class="card-text">INtoTec Es un grupo formado por 5 alumnos de la carrera de Ingeniería de ejecución en Informática
        y una alumna de la carrera de Ingeniería Agricola.
      </p>
      <p class="card-text">Los cuales tienen como objetivo mejorar y optimizar el trabajo de los agricultores en base a las nuevas tecnologías.</p>
    </div>
  </div>