.table-responsive {
    margin: auto;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  
  .table thead th {
    background-color: #343a40;
    color: #fff;
  }
  
  .table thead {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  /* Agregar márgenes a los botones para separarlos un poco */
  .table td > button:not(:last-child) {
    margin-right: 0.5rem;
  }
  