#miSelect {
    /* Estilos para el select */
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 25%;
    font-family: Arial, sans-serif;
    font-size: x-large;
    color: #333;
  }
  
  #miSelect option {
    /* Estilos para las opciones del select */
    background-color: #f2f2f2;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: x-large;
  }
  table {
    border-collapse: collapse;
  }
  
  tr {
    border-top: 1px solid black;
  }
  
  td, th {
    border-bottom: 1px solid black;
    padding: 8px;
  }
  .card {
    place-items: center;
    width: 50vw; /* Ocupa la mitad del ancho de la pantalla */
   
  }

  .card-header{
    
    font-size: large;
   
  }
#div-select{
margin-top: 1%;
}
.links {
display: block;
width: 119px;
display: none;
}

.links select:hover{
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -moz-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -ms-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -o-linear-gradient(top, #33d55b, #2bb4de);
    background-image: linear-gradient(to bottom, #33d55b, #2bb4de);
    text-decoration: none;
    color: white;
}

.links select{
    text-decoration: none;
    color: black;
    display: block;
    padding: auto;
    font-size: auto;
}

.botonDes:hover .links{
    display: block;
}

.botonDes {
    width: 120px;
}

.botoneitor {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -moz-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -ms-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -o-linear-gradient(top, #33d55b, #2bb4de);
    background-image: linear-gradient(to bottom, #33d55b, #2bb4de);
    text-decoration: none;
    color: white;

    border-radius: 5px;
}