app-navbar {
  height: 60px; /* Ajusta este valor según el alto de tu navbar */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Asegura que el navbar se muestre por encima del contenido */
}
router-outlet {
  display: block; /* Esto asegura que se comporte como un bloque, permitiendo el margen */
  margin-top: 150px; /* Ajusta este valor al alto de tu navbar */
}