
.Inicio{
    width: 0,5 em;
    background: #32a838;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'calibri';
    text-decoration: none;
    font-size: larger;
    color: white;
  
    background-image: -webkit-linear-gradient(top, #2bb4de, #33d55b);
    background-image: -moz-linear-gradient(top, #2bb4de, #33d55b);
    background-image: -ms-linear-gradient(top, #2bb4de, #33d55b);
    background-image: -o-linear-gradient(top, #2bb4de, #33d55b);
    background-image: linear-gradient(to bottom, #2bb4de, #33d55b);
  }
  .Inicio:hover{
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -moz-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -ms-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -o-linear-gradient(top, #33d55b, #2bb4de);
    background-image: linear-gradient(to bottom, #33d55b, #2bb4de);
    text-decoration: none;
    color: white;
  }
  
  .Cerrar{
    width: 100px;
    background: #32a838;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: responsive auto;
    font-family: 'calibri';
    text-decoration: none;
    color: white;
  
    background-image: -webkit-linear-gradient(top, #2bb4de, #33d55b);
    background-image: -moz-linear-gradient(top, #2bb4de, #33d55b);
    background-image: -ms-linear-gradient(top, #2bb4de, #33d55b);
    background-image: -o-linear-gradient(top, #2bb4de, #33d55b);
    background-image: linear-gradient(to bottom, #2bb4de, #33d55b);
    
  }
  .Cerrar:hover{
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -moz-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -ms-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -o-linear-gradient(top, #33d55b, #2bb4de);
    background-image: linear-gradient(to bottom, #33d55b, #2bb4de);
    text-decoration: none;
    color: white;
  }
  
  
  .Informacion{
    width: 98px;
    background: #32a838;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'calibri';
    text-decoration: none;
    color: white;
  
    background-image: -webkit-linear-gradient(top, #2bb4de, #33d55b);
    background-image: -moz-linear-gradient(top, #2bb4de, #33d55b);
    background-image: -ms-linear-gradient(top, #2bb4de, #33d55b);
    background-image: -o-linear-gradient(top, #2bb4de, #33d55b);
    background-image: linear-gradient(to bottom, #2bb4de, #33d55b);
  }
  .Informacion:hover{
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -moz-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -ms-linear-gradient(top, #33d55b, #2bb4de);
    background-image: -o-linear-gradient(top, #33d55b, #2bb4de);
    background-image: linear-gradient(to bottom, #33d55b, #2bb4de);
    text-decoration: none;
    color: white;
  }
  #barra{
    align-items: right;
    display: flex;
    
  
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh; /* Establece el alto del cuerpo de la página al 100% de la altura visible */
  }
  
  header {
    display: flex;
    background-color: #557d57; /* Cambia el color de fondo según tus preferencias */
    height: 15%; /* Establece la altura del encabezado al 100% del cuerpo de la página */
  }
  
  
  nav {
    width: 100%; /* Establece el ancho de la barra de navegación al 100% del encabezado */
  }
  
  ul {
    list-style-type: none;
    text-align: center; /* Centra los elementos de la lista horizontalmente */
    display: inline-block;
  }
  
  li {
    display: inline-block; /* Muestra los elementos de la lista en línea */
  }
  
  a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  