body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 340px;
    max-width: 400px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type='email'],
.form-group input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type='email']:focus,
.form-group input[type='password']:focus {
    border-color: #333;
    outline: none;
}

.form-group .tooltip-icon {
    visibility: hidden;
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.form-group input[type='email'].is-invalid:hover + .tooltip-icon,
.form-group input[type='password'].is-invalid:hover + .tooltip-icon,
.form-group input[type='email']:hover.is-invalid + .tooltip-icon,
.form-group input[type='password']:hover.is-invalid + .tooltip-icon {
    visibility: visible;
}

.form-group .is-invalid {
    border-color: #dc3545; /* Rojo */
}

.form-group .invalid-feedback {
    color: #dc3545; /* Rojo */
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #dc3545;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
}

.form-group input[type='email'].is-invalid:hover ~ .invalid-feedback,
.form-group input[type='password'].is-invalid:hover ~ .invalid-feedback {
    display: block;
}

.btn-primary {
    background-color: #333;
    border-color: #333;
}

.btn-primary:hover {
    background-color: #555;
    border-color: #555;
}

.password-link {
    display: block;
    text-align: right;
    font-size: 0.9em;
    margin-top: 10px;
}

.password-link a {
    color: #333;
    text-decoration: none;
}

.password-link a:hover {
    text-decoration: underline;
}

button[type='submit'] {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type='submit']:hover {
    background-color: #555;
}

.input-group {
    position: relative;
  }
  
  .input-group-append {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: 10px; /* Ajusta según sea necesario */
    display: flex;
    align-items: center;
  }
  
  .toggle-password {
    background: transparent;
    border: none;
    
  }
  
  /* Opcional: Estilos para quitar el borde y fondo del botón para que parezca más integrado */
  .toggle-password:focus {
    outline: none;
    box-shadow: none;
  }