<div class="container">
  <div class="login-container">
    <h2>Iniciar sesión</h2>
    <form [formGroup]="formularioDeUsuario" (ngSubmit)="login()">
      
      <!-- Grupo de correo -->
      <div class="form-group">
        <input 
          type="email"
          class="form-control"
          formControlName="correo" 
          matTooltipPosition="right"
          matTooltip="{{ getErrorMessage('correo') }}" 
          [matTooltipDisabled]="!formularioDeUsuario.get('correo')?.errors" 
          
          placeholder="c@ejemplo.com"
          (focus)="clearErrorMessage()"
          [ngClass]="{'is-invalid': formularioDeUsuario.get('correo')?.touched && formularioDeUsuario.get('correo')?.errors}"
        >
        <label for="email">Correo electrónico</label>
      </div>
      
      <!-- Grupo de contraseña -->
      <div class="form-group">
        <div class="input-group">
          <input 
            [type]="mostrarContra ? 'text' : 'password'"
            class="form-control" 
            formControlName="contra" 
            placeholder="Contraseña" 
            [ngClass]="{'is-invalid': formularioDeUsuario.get('contra')?.touched && formularioDeUsuario.get('contra')?.errors}" 
            formControlName="contra"
            matTooltipPosition="right"
            matTooltip="{{ getErrorMessage('contra') }}" 
            [matTooltipDisabled]="!formularioDeUsuario.get('contra')?.errors"
          >
          <div class="input-group-append">
            <button type="button" class="toggle-password" (click)="toggleMostrarContra()">
              <i [class]="mostrarContra ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
            </button>
          </div>
        </div>
        <label for="password">Contraseña</label>
      </div>
      
      <button type="submit" [disabled]="formularioDeUsuario.invalid" class="btn btn-primary btn-block">Enviar</button>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <a routerLink="/Reset-password" class="password-link">¿Olvidaste tu contraseña?</a>
    </form>
  </div>
</div>

