.sensor-container {
  display: flex;
  justify-content: space-between; /* Esto separa los contenedores de lectura */
  margin-bottom: 10px; 
  height: 120px;
   
}


.sensor-reading {
  background: #4CAF50; /* Verde como color de fondo */
  border: 2px solid #388E3C; /* Un verde más oscuro para el borde */
  border-radius: 8px; /* Bordes redondeados */
  margin: 5px; /* Margen alrededor de cada lectura */
  padding: 10px; /* Espacio dentro de cada lectura */
  box-sizing: border-box; /* Asegura que padding y border no aumenten el ancho */
  text-align: center; /* Centra el texto horizontalmente */
  display: flex;
  flex-direction: column; /* Organiza el contenido en columnas */
  justify-content: center; /* Centra el contenido verticalmente */
  flex: 1; /* Asegura que todos los elementos flexibles tengan la misma proporción */
  height: 100%;
}

/* Establece un mínimo y máximo para los elementos flexibles */
.sensor-reading {
  min-width: 120px; /* Mínimo ancho que puede tener cada cuadro */
  max-width: 250px; 
}

.sensor-name {
  font-weight: bold; /* Hace que el nombre del sensor sea más grueso */
  margin-bottom: 25px;
  font-size: 0.9rem;

}

.reading-value {
  color:rgb(255, 255, 255);
  font-size: 1.2rem;
}

/* Puedes agregar más media queries para ajustar la responsividad */
@media (max-width: 768px) {
  .sensor-container {
    flex-direction: column; /* Apila las lecturas verticalmente en dispositivos más pequeños */
  }

  .sensor-reading {
    margin: 5px auto; /* Centra los elementos horizontalmente y añade margen vertical */
    min-width: 80%; /* Los cuadros serán más anchos en dispositivos pequeños */
  }
}

@media (max-width: 480px) {
  .sensor-reading {
    min-width: 90%; /* Los cuadros ocuparán más ancho en dispositivos muy pequeños */
  }
}
